{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,
initial-scale=1.0" />
        <title>
            {% block title %}
              Sticky Notes
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'notes/style.css' %}" />
    </head>
    <body>
        <header>
            <h1>
                {% block header %}
                    Sticky Notes
                {% endblock header %}
            </h1>
            <!-- Add navigation links or other header content here-->
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <!-- footer content and links go here-->
        </footer>
    </body>
</html>